.menu{
  width: 80%;
  background-color: yellow;
  position: fixed;
  height: 100vh;
 text-align: left;
 left: -100%;
 transition: 0.5s;
}
.activeMenu{
  left: 0%;
}
.menu ul li{
  list-style: none;
  padding: 10px 0px;
}
.micon{
  position: absolute;
  right: 10px;
}